/* HTML elements */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

body {
  font-family: 'Montserrat';
  text-align: center;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: #000;
}

/* Navigation bar */
.navbar {
  padding-bottom: 4.5rem;
}

/* __________________1. Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.navbar-brand {
  font-family: 'ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

/* Download button */
.download-button {
  margin: 5% 3% 5% 0;
  font-size: 1.5rem;
}

/* Title Image */
.title-image {
  transform: rotate(25deg);
  width: 22rem;
  position: absolute;
  right: 20%;
  padding-left: 12px;
}

/* __________________2. Features Section */
#features {
  font-family: 'Montserrat';
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.featurebtn {
  color: #ef8172;
  margin: 0 0 1rem;
  font-size: 6vh;
}

.p-features {
  width: 60%;
  margin: 0 auto;
  color: grey;
}

.featurebtn:hover {
  color: #ff4c68;
}

.col-lg-6 {}

/* __________________3. Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* __________________4. Pricing Section*/
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.card {
  padding:
}

/* .btn-orange {
  border-color: #ef8172;
  color: #ef8172;
} */
.pricing-col {
  padding: 3% 2%;
}

/* Media Queries */
@media (max-width: 992px) {
  #title .container-fluid {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* __________________ 5. Call to Action Section*/
.ctabtn {
  width: 10px;
}

/* __________________ 6. Footer Section */
.footerbtn {
  margin: 20px 10px;
}

.copyright {
  color: grey;
}
